# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Docker
**/docker-compose.override.yml
